<div>
    <table>
        <thead>
            <tr>
                <td>Título</td>
                <td>Preço</td>
                <td>Descrição</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of listaProdutos">
                <td>{{p.titulo}}</td>
                <td>{{p.preco}}</td>
                <td>{{p.descricao}}</td>
                <td>
                    <button (click)="deleteProduct(p)">
                        Remover
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>